/***Fonts***/
   
@font-face {  
font-family:'Cera PRO';
src:local('Cera PRO Thin'), local('CeraPRO-Thin'),url('../style/fonts/cerapro/CeraPRO-Thin.woff') format('woff');
font-weight:100;
font-style:normal;  
}      
         
@font-face {   
font-family:'Cera PRO';
src:local('Cera PRO Light'), local('CeraPRO-Light'),url('../style/fonts/cerapro/CeraPRO-Light.woff') format('woff');
font-weight:300;
font-style:normal;
}  
  
@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Regular'), local('CeraPRO-Regular'),url('../style/fonts/cerapro/CeraPRO-Regular.woff') format('woff');
font-weight:400;
font-style:normal;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Medium'), local('CeraPRO-Medium'),url('../style/fonts/cerapro/CeraPRO-Medium.woff') format('woff');
font-weight:500;
font-style:normal;
}
  
@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Bold'), local('CeraPRO-Bold'),url('../style/fonts/cerapro/CeraPRO-Bold.woff') format('woff');
font-weight:700;
font-style:normal;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Black'), local('CeraPRO-Black'),url('../style/fonts/cerapro/CeraPRO-Black.woff') format('woff');
font-weight:900;
font-style:normal;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Thin Italic'), local('CeraPRO-ThinItalic'),url('../style/fonts/cerapro/CeraPRO-ThinItalic.woff') format('woff');
font-weight:100;
font-style:italic;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Light Italic'), local('CeraPRO-LightItalic'),url('../style/fonts/cerapro/CeraPRO-LightItalic.woff') format('woff');
font-weight:300;
font-style:italic;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Regular Italic'), local('CeraPRO-RegularItalic'),url('../style/fonts/cerapro/CeraPRO-RegularItalic.woff') format('woff');
font-weight:400;
font-style:italic;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Medium Italic'), local('CeraPRO-MediumItalic'),url('../style/fonts/cerapro/CeraPRO-MediumItalic.woff') format('woff');
font-weight:500;
font-style:italic;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Bold Italic'), local('CeraPRO-BoldItalic'),url('../style/fonts/cerapro/CeraPRO-BoldItalic.woff') format('woff');
font-weight:700;
font-style:italic;
}

@font-face {
font-family:'Cera PRO';
src:local('Cera PRO Black Italic'), local('CeraPRO-BlackItalic'),url('../style/fonts/cerapro/CeraPRO-BlackItalic.woff') format('woff');
font-weight:900;
font-style:italic;
}

@font-face {
	font-family: 'icons';
	src: url('/style/fonts/icons/icons.eot');
	src: url('/style/fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
		url('/style/fonts/icons/icons.woff') format('woff'), 
		url('/style/fonts/icons/icons.svg') format('svg'),
		url('/style/fonts/icons/icons.ttf') format('truetype'); 
	font-weight: 100;
	font-style: normal;
}

/***End.Fonts***/

html,body {
	height:100%;
}

body {
margin:0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 15px;
/*font:300 15px/30px 'Cera PRO', 'Roboto', Tahoma, Calibri;*/
color:#003595;
/*! background:#f0f0f0; */
position:relative;
overflow-y:scroll;
//overflow-y:none;
overflow-x:hidden !important;  
height:100%;
min-width:1180px;
}

/*body:before {
display:block;	
position:fixed;
content:"";
top:0;
left:0;
width:100%;
height:100%;
background:#282828;
transition:all .4s ease;
opacity:0;
}*/

body.show-menu:before {
transition:all .4s ease;
opacity:.3;
z-index:998;
}

*, *:after, *:before {-webkit-box-sizing:border-box;box-sizing:border-box;}
.clearfix:before, .clearfix:after {content:'';display:table;}
.clearfix:after {clear:both;}

::selection {
background-color:#cfcfcf;
}

::-webkit-scrollbar {width:4px;}
::-webkit-scrollbar-track {background:#f0f0f0;}
::-webkit-scrollbar-thumb {background:#282828;}

.only-mob {display:none !important;}

.wrap {
position:relative;	
width:100%;
	margin: 0 auto;
}

.container {
position:relative;
width:1120px;
margin:auto;
}

/*header:after*/.wrap:after, .container:after, #nav:after, ul#icons:after, ul#list-icon:after, #tile:after, form:after, .menu-wrap #contact:after,
#catalog .carousel-block:after, ul#catalog-filter:after, .tabs__caption:after, ul#tre:after, ul.breadcrumb:after, ul#tre li:after, .inline#half .item ol:after,
ul#block-50, ul#block-3, .digital-form.inline-form:after {
content:" ";
display:block;
clear:both;
overflow:hidden;
}

.bg-orange {background:#f26622;}

.pathway-bg {background:transparent;}
.pathway{color: #003595;}
.pathway-current {color: #76dafe;}

ul.breadcrumb {
position:relative;
width:1120px;
padding:10px 0;
margin:auto;
list-style:none;
font:400 12px/30px 'Cera PRO', 'Roboto', Tahoma, Calibri;
}

ul.breadcrumb li {float:left;margin-right:3px;}
ul.breadcrumb li a, ul.breadcrumb li:last-child {/*! color:#003595; */}
ul.breadcrumb li a:hover {border-color:#282828;}
ul.breadcrumb li a.pathway span {display:inline-block;}
ul.breadcrumb li:nth-child(2), ul.breadcrumb li:nth-child(3), ul.breadcrumb li:nth-child(4) {margin-right:0;}
ul.breadcrumb li span.divider {margin:0 10px;}

header {
/*position:relative;
width:100%;
z-index:666;*/
}

/*header .wrap:first-child {background:#f0f0f0;display:none;}
header .wrap:nth-child(2) {background:#fff;padding:10px 0;}
header .wrap:last-child {background:#3d3d3d;}*/

/*header #logo, footer #logo, .menu-wrap #logo {
width:200px;
height:40px;
float:left;
padding:0;
margin:10px 40px 10px 0;
background:url(../images/logo/logo_cometa.png) no-repeat center transparent;
background-size:contain;
}*/

/*.menu-wrap #logo {
float:none;
margin:0 0 20px;
background:url(../images/logo/logo_cometa_white.png) no-repeat center transparent;
background-size:contain;
}*/

/*header #contact {
float:right;
margin:0;
color:#525252;
text-align:right;
}*/

/*header #contact p {
display:inline-block;
font:400 13px/40px 'Cera PRO', 'Roboto', Tahoma, Calibri;
margin:0;
}

header #contact p:first-child {margin-right:40px;}
header #contact p span {color:#bebebe;}

header p.phone:before {display:none;}*/

/*header select {
border:0;
padding:0 10px;
margin:0 0 0 10px;
font:400 13px/40px 'Cera PRO', 'Roboto', Tahoma, Calibri;
color:#525252;
cursor:pointer;
-webkit-appearance:none;
-moz-appearance:none;
text-indent:0.01px; 
background:#e4e4e4;
text-align:right;
}

header #enter {
float:right;
height:60px;
}

header #p-800 {float:right;text-align:right;border-right:1.5px solid #e9e9e9;padding-right:40px;margin:10px 0;}
header #p-800 p {margin:0;}
header #p-800 p:first-child {font:400 22px/23px 'Cera PRO', 'Roboto', Tahoma, Calibri;}
header #p-800 p:last-child {font:400 12px/17px 'Cera PRO', 'Roboto', Tahoma, Calibri;color:#bebebe;}
header #p-800 p a, header #p-800 p a:hover {color:#282828;}
header #p-800 p a:after {display:none !important;}*/

/***Section***/

section {
position:absolute;
display:block;
width:100%;  
height:auto;  
padding:20px 0;    
box-shadow:0 0 20px rgba(40,40,40,.4);
opacity:0;
z-index:-1;  
transition:all .4s ease;    
}

section.scrolled {
position:fixed;
top:0;  
opacity:1;  
background:#fff;
z-index:666;
transition:all .4s ease;    
}

section #logo {
width:80px;
height:40px;
float:left;
padding:0;
margin:5px 40px 5px 0;
background:url(../images/logo/logo_cometa_section.png) no-repeat center transparent;
background-size:contain;
}

section #nav {
width:auto;
border-left:1.5px solid #e9e9e9;
padding:0 0 0 20px;
margin:0;
}

section #nav > li > a {
font:300 15px/50px 'Cera PRO', 'Roboto', Tahoma, Calibri;
color:#525252;
border:0 !important;
padding:0 20px;
letter-spacing:-1px;
}

section #nav > li:last-child > a {padding-right:0;}
section #nav li:last-child ul {width:calc(100% + 20px);left:0;}

section #nav > li.active > a,
section #nav > li.active > span {
color:#f26622;
background:transparent;
}

/*section .menuwithshop > li:last-child {display:none;}*/

section a#call-back:after {display:none;}

/***End.Section***/

/***Nav***/

#nav, #topnav {
float:left;
position:relative;
text-align:center;
list-style:none;
width:auto;
height:auto;
margin:0;
padding:0;
}

#topnav {
border-left:1.5px solid #e9e9e9;
margin:10px 0;
}

/*header #nav {width:100%;}*/

#nav:after, #topnav:after {
content:"";
display:block;
clear:both;
}

#nav > li, #topnav > li {
float:left;
position:relative;
padding:0;
}

/*header .menuwithshop > li:last-child {float:right !important;}*/

#nav li a, #topnav li a {display:block;}

#nav li:hover ul, #topnav li:hover ul {display:block;}

/*header #nav li ul, #topnav li ul, section #nav li ul {
display:block;
position:absolute;
list-style:none;
padding:0;
width:auto;
min-width:100%;
top:-300%;
z-index:-1;
opacity:0;
transition:all .7s ease;
!*border:1.5px solid #494949;*!
border-top:0;
}*/

section #nav li ul {background:#fff;border-color:transparent;left:-11.5px;}

/*header #nav.menuwithshop li:last-child ul {width:100%;}*/

#nav li:hover ul, section #nav li:hover ul {display:block;top:100%;opacity:1;transition:all .7s ease;}
#nav li:nth-child(3) ul {display:none !important;}

#nav > li > a {
position:relative;	
overflow:hidden;
color:#d4d4d4;
width:auto;
padding:0 40px;
margin:0;
font:300 15px/60px 'Cera PRO', 'Roboto', Tahoma, Calibri;
letter-spacing:-.5px;
/*font:700 13px/40px 'Roboto', Tahoma, Calibri;
text-transform:uppercase;
letter-spacing:.5px;*/
border-bottom:0;
border-right:1.5px solid #494949;
}

#topnav > li > a {
position:relative;	
overflow:hidden;
color:#bebebe;
width:auto;
padding:0;
margin:0 0 0 40px;
font:400 15px/40px 'Cera PRO', 'Roboto', Tahoma, Calibri;
border-bottom:0;
}

#nav > li:first-child > a, .menuwithshop > li:last-child > a {border-left:1.5px solid #494949;}

#nav > li.hover > a,
#nav > li > a:hover {
color:#f26622;
border-bottom:0;
}

#topnav > li.hover > a,
#topnav > li > a:hover {
color:#939393;
border-bottom:0;
}

#nav > li.active > a,
#nav > li.active > span {
color:#fff;
background:#282828;
border-bottom:0;
}

#topnav > li.active > a, .web-catalog #topnav > li:nth-child(2) > a {
color:#525252;
border-bottom:0;
}

#topnav > li > a:after {
width:0;
height:1.5px;
background:#939393;
}

#topnav > li.active > a:after, #topnav > li > a:hover:after, .web-catalog #topnav > li:nth-child(2) > a:after {
width:100%;
left:0;
}

#topnav > li.active > a:after {background:#525252;}

footer #nav {float:right;z-index:100;}

footer #nav > li > a {
color:#939393;
font:700 12px/40px 'Cera PRO', 'Roboto', Tahoma, Calibri;
text-transform:uppercase;
padding:0 0 0 40px;
border:0;
}

footer #nav > li:first-child > a, footer #nav > li:last-child > a {border:0;}

footer #nav > li.hover > a,
footer #nav > li > a:hover,
footer #nav > li.active > a,
footer #nav > li.active > span {
color:#fff;
}

/*header #nav li ul {
background:#3d3d3d;
padding:0;  
}*/

#nav li ul li {
position:relative;
font:300 15px/20px 'Cera PRO', 'Roboto', Tahoma, Calibri;
text-decoration:none;
text-align:left;
}

#nav li ul li ul {
top:0;
left:231.5px;
z-index:-1;	
}             

section #nav li ul li ul {left:198px !important;}

#nav li ul li:hover ul {
top:0;
left:231.5px;
z-index:498;
}
#nav li ul li > ul li {
display:none;
z-index:-1;	
}
#nav li ul li > ul:hover li {
display:block;
z-index:498;	
}
#nav li ul li:hover ul li {float:none;display:block;}
#nav li ul li ul li:hover a {
color:#f26622;
background:#f0f0f0;
}


/*header #nav li ul li a, section #nav li ul li a {
color:#d4d4d4;
padding:20px 40px;
min-width:198px;
text-decoration:none;
border:0;
!*white-space:nowrap;*!
}*/

section #nav li ul li a {background:#fff;color:#525252;}

/*header #nav li ul li a:hover {
background:#f26622;	
color:#fff;
text-decoration:none;
border:0;
}*/

section #nav li ul li.active a, section #nav li ul li a:hover {color:#f26622;border:0;}

footer #nav li ul, footer #nav li:hover ul {
display:none;
position:absolute;
left:40px;
list-style:none;
margin:0;
padding:0;
}

footer #nav li ul li a {
font:300 13px/30px 'Cera PRO', 'Roboto', Tahoma, Calibri;
padding:0;
min-width:auto;
white-space:nowrap;
}

.pointer-events {pointer-events: none;}

a.none, #nav > li > a:after, #nav > li > a.none, #topnav > li > a.none, #nav li ul li a:after/*, header .none*/ {display:none !important;}

/***End.Nav***/

/***Page***/

#content {padding:80px 0;}
#min-content {padding:40px 0;}

#fullscreen {height:420px;}

#fullscreen:before, .shadow-effect:before, .shadow-effect-white:before {
content:" ";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(40,40,40,.5);
z-index:10;
transition:all .4s ease;
}

.shadow-effect-white:before {background:rgba(241,241,241,.8);}
.shadow-effect .container, .shadow-effect-white .container {position:relative;z-index:10;}
.shadow-effect .container p {width:66%;}

#fullscreen .container, #clients .carousel-block img, #step .item .img img, .core_card, #pay-icons .img img,
#transit-block, #transit-block-img .img img, #buld, #icons-4 .img img, #icons-4 .img p, /*.menu-wrap #topnav,*/ #puzzle .img p, #catalog .img img,
#catalog-items .item .img img, #catalog-page .img img, .popup, .twothree .block p, .menu-wrap #nav, .tre-item .item .circle-grey p,
.fullscreen .container, .fullscreen .absolute-circle p, .new-electro-page ul.items-with-icons li .img img, 
.new-electro-page .half-blocks .item div:nth-child(2) img, .new-electro-page .bg-orange .tre-item-icons .item img, .join-system .item .img img,
.tre-catalog-sale .item .img img, ul#delivery-units li:nth-child(1) p, ul#delivery-units li:nth-child(2) p, ul#delivery-units li:nth-child(3) p,
ul#delivery-units li:nth-child(4) p {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
z-index:23;
}

#fullscreen .container {
padding-right:300px;
padding-bottom:50px;
color:#fff;
}

.opinion#fullscreen .container {padding-right:640px;}

.opinion#fullscreen .container #main-news {margin-top:80px;}
.opinion#fullscreen .container #main-news p.important {margin-bottom:10px;}

.opinion#fullscreen .container #main-news a {color:#fff;}
.opinion#fullscreen .container #main-news a:hover {color:#f26622;}

.opinion#fullscreen #director {
position:absolute;
top:50%;
right:calc(50% - 560px);
transform:translateY(-50%);
-webkit-transform:translateY(-50%);
z-index:23;
}

.opinion#fullscreen #director .speech {
position:relative;
width:400px;
padding:20px;
background:#fff;
/*border:1.5px solid #e9e9e9;*/
border-radius:20px;
}

.opinion#fullscreen #director .speech:after {
content:'';
position:absolute;
bottom:-30px;
right:0;
width:0;
height:0;
border-style:solid;
border-width:0 40px 50px 0;
border-color:transparent #fff transparent transparent;
}

.opinion#fullscreen #director .speech p:last-child {text-align:right;}

.opinion#fullscreen #director img {
width:100px;
height:100px;
border-radius:50%;
margin-top:20px;
border:1.5px solid #e9e9e9;
}

#fullscreen .container.pbot {padding-bottom:0;}

.nopad#fullscreen .container {padding:200px 0 0;}
.toppad#fullscreen .container {padding:0;}

#fullscreen .container h1 {font:300 40px/50px 'Cera PRO', 'Roboto', Tahoma, Calibri;}
.nopad#fullscreen .container h1 {font:300 30px/40px 'Cera PRO', 'Roboto', Tahoma, Calibri;margin:0 0 10px;}

#fullscreen p.tagline {
position:absolute;
left:50%;
bottom:70px;
transform:translateX(-50%);
width:1120px;
color:#fff;
z-index:10;
}

#fullscreen .container a.more, a.more.orange-a {
background:#f26622;
border-color:transparent;
color:#fff;
}

#fullscreen .container a.more:hover, a.more.orange-a:hover {
background:#282828;
border-color:transparent;
color:#fff;
}

#fullscreen #cirlce-svk {
position:absolute;
width:240px;
height:240px;
left:50%;
transform:translateX(-50%);
-webkit-transform:translateX(-50%);
bottom:-120px;
border-radius:50%;
background:url(../images/back/metering-counters-trumpet.jpg) no-repeat center #fff;
background-size:290px;
border:3px solid #e9e9e9;
z-index:23;
}

#fullscreen .logos {
position:absolute;
bottom:40px;
right:calc(50% - 560px);
z-index:23;
}

#fullscreen .logos img {height:40px;}
#fullscreen .logos img.cmt {height:30px;margin:5px 40px 0;}

#fullscreen .logos a:after {display:none;}

#counter-block, #tagline {
position:absolute;
top:0;
right:0;
width:280px;
padding:20px;
background:rgba(40,40,40,.4);
/*border-radius:6px;*/
text-align:center;
}

.business-page #counter-block p:nth-child(2) {margin-top:0;}

#tagline {
top:50%;
transform:translateY(-50%);
-webkit-transform:translateY(-50%);
}

#tagline img {width:60px;}

#counter-block p.timer {
font:100 60px/60px 'Cera PRO', 'Roboto', Tahoma, Calibri;
color:#f26622;
}

#counter-block span.timer {display:inline-block;width:100px;color:#f26622;font:300 30px/50px 'Cera PRO', 'Roboto', Tahoma, Calibri;}

ul#icons, ul#list-icon {
margin:0;
padding:0;
list-style:none;
}


ul#icons li {
position:relative;
width:320px;
float:left;
margin:40px 0 0 80px;
padding:0;
}

ul#icons li:nth-child(3n+1) {margin-left:0;}

ul#icons li .img {
position:absolute;
width:40px;
height:40px;
}

ul#icons li .img img {width:100%;}

ul#icons li p:nth-child(2) {
margin:0;
padding:10px 0 30px 80px;
font:700 13px/20px 'Cera Pro', 'Roboto', Tahoma, Calibri;
text-transform:uppercase;
color:#f26622;
}

ul#icons li:nth-child(2) p:nth-child(2) {padding:0 0 20px 80px;}

.section ul#icons {margin:60px 0 0;}
.section ul#icons li:nth-child(2) p:nth-child(2) {padding:10px 0 30px 80px;}

ul#icons li p:last-child {
padding-left:20px;
border-left:1.5px solid #f26622;
}

ul#list-icon {margin:40px auto 0;width:80%;}
#half ul#list-icon {margin:10px auto 0;width:100%;}

ul#list-icon li {
position:relative;
width:calc(50% - 40px);
float:left;
margin:20px 80px 0 0;
padding:10px 0 10px 80px;
line-height:20px;
}

#half ul#list-icon li {
float:none;
width:100%;
padding-left:70px;
}

#half ul#list-icon li:nth-child(2) {margin-top:20px;}

ul#list-icon li:nth-child(1), ul#list-icon li:nth-child(2) {margin-top:0;}
ul#list-icon li:nth-child(even) {margin-right:0;}

ul#list-icon li img {
position:absolute;
top:0;
left:0;
width:40px;
}

#half ul#list-icon li img {width:40px;top:0px;}

#step .item {
position:relative;
width:25%;
float:left;
padding:10px 40px 0;
text-align:center;
}

#step.tre-icons .item {width:33.333333%;}
#step.tre-icons .item:nth-child(4), #step.tre-icons .item:nth-child(5),#step.tre-icons .item:nth-child(6) {margin-top:40px;}
#step.tre-icons .item .img {border:0;background:#f1f1f1;}

#step .item .img {
position:relative;
width:100px;
height:100px;
margin:0 auto 20px;
border:1.5px solid #f26622;
border-radius:50%;
}

.important-last#step .item .img {border-color:#282828;}
.important-last#step .item:last-child .img {border:1.5px solid #f26622;}
.important-last#step .item:last-child p:nth-child(2) {color:#f26622;}

#step .item .img img, #pay-icons .img img, #transit-block-img .img img, #icons-4 .img img {width:45px;}

#step .item:after {
content:'';
position:absolute;
top:40px;
right:-20px;
display:block;
width:40px;
height:40px;
background:url(../images/icons/arrow-right.svg) no-repeat center transparent;
background-size:66%;
}
#step .item:last-child:after {display:none;}

#half {position:relative;display:table;}
#half .item {position:relative;width:50%;display:table-cell;vertical-align:middle;}
#half .item:nth-child(1) {padding-right:80px;}
#half .item:nth-child(2) {padding-left:80px;}
#half .item .wrap-text {position:relative;width:480px;float:right;padding-top:160px;padding-bottom:160px;text-align:center;z-index:333;}
#half .item:nth-child(2) .wrap-text {float:left;}
#half #separator {position:absolute;width:3px;height:100%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);z-index:333;background:#fff;}
#half .shadow-effect-white:hover::before {background:rgba(241,241,241,.6);transition:all .4s ease;}

.inline#half .item {display:block;width:100%;padding:0;}

.inline#half .item ol {display:table;list-style:none;padding:0;margin:0 auto 40px;}

.inline#half .item ol li {
float:left;
list-style:none;
padding:0;
margin:0;
height:50px;
border-bottom:1.5px solid #e9e9e9;
}

.inline#half .item ol li a {
display:inline-block;
padding:10px 20px;
}

.inline#half .item ol li.li-active {background:#e9e9e9;}
.inline#half .item ol li.li-active a {color:#f26622;}

.inline#half .item ol li a:after {display:none;}

.inline#half .item:nth-child(2) {height:400px;}
.inline#half .item:nth-child(2) .core_card {
width:600px;
left:77px;
transform:translateY(-50%);
-webkit-transform:translateY(-50%);
}

.inline#half .item:nth-child(2).img-askue .core_card img.img-with-border {width:600px;}

img.img-with-border {
width:100%;
padding:10px;
border:1.5px solid #f1f1f1;
transition:all .4s ease;
}

.inline#half .item:nth-child(2) .core_card p.note-askue {
position:absolute;
margin:0;
width:320px;
top:0;
right:-360px;
font:400 13px/20px 'Cera PRO', 'Roboto', Tahoma, Calibri;
font-style:italic;
padding:20px;
background:#f4f5f7;
border:1.5px solid #282828;
border-radius:20px;
}

.inline#half .item:nth-child(2) .core_card p.note-askue:after {
content:'';
position:absolute;
top:55%;
left:-45px;
transform:rotate(-30deg);
-webkit-transform:rotate(-30deg);
width:47px;
height:1.5px;
background:#282828;
}

/*#half img.img-with-border {height:400px;}*/

ul#tre li img.img-with-border {width:100%;}

#half:hover .withborder#slider-wrap,
/*#half:hover .item img.img-with-border,*/
ul#tre li:hover img.img-with-border {border-color:#f26622;transition:all .4s ease;}

img.img-ip-electro, img.img-ip-water {
position:absolute;
bottom:10px;
right:220px;
width:140px;
}

.carousel {overflow:hidden;}
.carousel-button-left, .carousel-button-right {display:none;}

.carousel-wrapper {
margin:0;
overflow:hidden;
position:relative;
padding:0;
}

.carousel-items {
width:10000px;
position:relative;
}

#clients .carousel-block {
position:relative;
float:left;
width:224px;
height:120px;
border:0;
padding:0;
float:left;
margin-left:0;
}

#clients .carousel-block img {
max-width:160px;
max-height:120px;
}

h2#app-icon {
background:url(../images/icons/icon-app.png) no-repeat top left transparent;
background-size:100px;
padding-left:140px;
}

#download {position:relative;display:inline-block;margin-top:30px;}
#download img {height:60px;/*margin-right:20px;*/cursor:pointer;}
#app-icon #download img {height:65px;}
#download a:first-child {margin-right:20px;}
#download a:after {display:none;}

footer #download a {float:left;}
footer #download img {width:135px;}

.absolute#download {position:absolute;bottom:0;right:0;margin:0;}
.absolute#download img {width:180px;height:auto;}

.just-app {width:440px;margin:80px auto 0;}
.just-app h2#app-icon {margin:0 0 40px;}
.just-app p, .just-app #download {float:left;width:200px;margin:0;}
.just-app #download a:first-child {margin-right:0;}
.just-app p {font-weight:400;margin-right:40px;}

#smartphone-preview {
width:270px;
height:540px;
margin:auto;
}

#smartphone-preview img {position:relative;width:100%;z-index:10;}

#smartphone-preview:before, #smartphone-preview:after {
content:"";
position:absolute;
opacity:.25;
z-index:1;
border-radius:50%;
transition:all .6s ease;
}

#smartphone-preview:before {
top:20px;
left:-40px;
width:400px;
height:400px;
background:#f26622;
}

#smartphone-preview:after {
top:360px;
right:20px;
width:200px;
height:200px;
background:#d42626;
}

#smartphone-preview:hover:before, #smartphone-preview:hover:after {transition:all .6s ease;}
#half:hover #smartphone-preview:before {top:60px;}
#half:hover #smartphone-preview:after {right:60px;}

.section h2 {margin-bottom:20px;}
.section #half {margin-top:40px;}
.section .mt-80#half {margin:80px 0 20px;}
.section.border {
margin-top:50px;
padding-top:35px;
border-top:1.5px solid #e9e9e9;
}


.section.border.no-bordertop {border-top:0;}

.small {width:60%;}
.extrasmall {width:40%;}

.img-left-text-right {margin-top:40px;}

.img-left-text-right .img-left {
float:left;
width:320px;
height:320px;
border:1.5px solid #f1f1f1;
}

.img-left-text-right .img-left img {
width:100%;
padding:10px;
}

.img-left-text-right .text-right {
float:right;
width:calc(100% - 360px);
}

#push-app {
display:none;
position:relative;
float:left;
width:110px;
height:110px;
background:url(../images/icons/icon-app.png) no-repeat top left transparent;
background-size:cover;
}

#push-app:after {
content:'1';
position:absolute;
top:-5px;
right:-5px;
display:block;
width:25px;
height:25px;
border-radius:50%;
font:700 15px/22px 'Cera Pro', 'Roboto', Tahoma, Calibri;
color:#fff;
background:#fe0000;
text-align:center;
}

#mssg {
position:relative;
/*float:right;*/
width:320px;
height:125px;
margin:0 0 0 85px;
border-radius:20px;
background:#eee;
overflow:hidden;
}

#mssg .wrap {
background:#d6d6d6;
padding:7.5px 12.5px;
}

#mssg .wrap span {font-weight:500;}
#mssg .wrap span:first-child {
float:left;
padding-left:30px;
background:url(../images/icons/icon-app.png) no-repeat left center transparent;
background-size:20px;
}
#mssg .wrap span:last-child {float:right;}

/*#mssg:before {
content:'';
position:absolute;
bottom:10px;
left:-20px;
transform:rotate(-10deg);
-webkit-transform:rotate(-10deg);
display:block;
width:0;
height:0;
border-style:solid;
border-width:0 0 15px 30px;
border-color:transparent transparent #eeeeee transparent;
}*/

#mssg p {font:400 15px/30px 'Cera Pro', 'Roboto', Tahoma, Calibri;padding:10px 12.5px;margin:0;}

.typed-cursor{
opacity:1;
-webkit-animation:blink 0.7s infinite;
-moz-animation:blink 0.7s infinite;
animation:blink 0.7s infinite;
}
@keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}

#metering-blocks > div {
position:absolute;
width:80px;
height:80px;
border-radius:50%;
-webkit-animation:4s BigBalls ease infinite;
animation:4s BigBalls ease infinite;
will-change:transform;
}

#metering-blocks > div.block-cometa {
top:100px;
left:200px;
width:160px;
height:160px;
background:url(../images/logo/logo_cometa_section.png) no-repeat center #f0f0f0;
background-size:50%;
}

#metering-blocks > div.block-water {
bottom:20px;
left:10px;
background:url(../images/icons-metering/icon-water.svg) no-repeat center #f0f0f0;
background-size:40%;
}

#metering-blocks > div.block-gas {
top:20px;
right:10px;
background:url(../images/icons-metering/icon-gas.svg) no-repeat center #f0f0f0;
background-size:40%;
}

#metering-blocks > div.block-heating {
top:60px;
left:70px;
background:url(../images/icons-metering/icon-heating.svg) no-repeat center #f0f0f0;
background-size:40%;
}

#metering-blocks > div.block-electro {
bottom:60px;
right:70px;
background:url(../images/icons-metering/icon-electro.svg) no-repeat center #f0f0f0;
background-size:40%;
}

@-webkit-keyframes BigBalls {
	0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
	100%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes BigBalls {
	0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50%{
		-webkit-transform: scale(1.15);
		        transform: scale(1.15);
	}
	100%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

#pay-icons {margin:40px auto;width:340px;}

#pay-icons .img, #transit-block-img .img, #icons-4 .img {
position:relative;
float:left;
width:100px;
height:100px;
margin:0 0 0 20px;
border-radius:50%;
background:#f0f0f0;
}

#icons-4.or-border .img {
background:transparent;
border:1.5px solid #f26622;
}

#icons-4.or-border .img img {width:40px;}

#pay-icons .img:nth-child(1), #icons-4 .img:nth-child(1) {margin-left:0;}

#icons-4 .img p, #puzzle .img p {
font:700 16px/20px 'Cera Pro', 'Roboto', Tahoma, Calibri;
text-transform:uppercase;
color:#f26622;
white-space:nowrap;
}

#transit-block {width:340px;}
#transit-block-img {margin:0 0 20px;}
#transit-block-img .img {
margin:0 -20px 0 0;
border:1.5px solid #282828;
background:#fff;
}

.icon-repeat:after {
content:'';
position:absolute;
top:10px;
right:-40px;
width:80px;
height:80px;
background:url(../images/icons/icon-orange-repeat.svg) no-repeat center transparent;
background-size:cover;
-webkit-animation:4s BigBalls ease infinite;
animation:4s BigBalls ease infinite;
}

#buld {
width:200px;
height:200px;
background:url(../images/back/back-buld.png) no-repeat center transparent;
background-size:cover;
}

#buld:before {
content:'';
position:absolute;
top:-14px;
left:49%;
width:1.5px;
height:25px;
background:#3d3d3d;
}

#buld:after {
content:'';
position:absolute;
top:68px;
left:39px;
display:block;
width:120px;
height:120px;
border-radius:50%;
background:rgba(255,208,97,.3);
box-shadow:0 0 20px rgba(255,208,97,1);
-webkit-animation:4s BigBalls ease infinite;
animation:4s BigBalls ease infinite;
}

.api-in-out {padding:80px 0;}

.api-in-out:after {
content:'';
position:absolute;
top:20px;
right:-240px;
display:block;
width:450px;
height:300px;
background:url(../images/back/back-computer.png) no-repeat center transparent;
background-size:contain;
}

.api-in:before, .api-out:before {
content:'';
position:absolute;
display:block;
width:60px;
height:60px;
}

.api-in:before {
bottom:0;
right:30%;
background:url(../images/icons/icon-arrow-right.svg) no-repeat center transparent;
background-size:cover;
}

.api-out:before {
top:20px;
left:30%;
background:url(../images/icons/icon-arrow-left.svg) no-repeat center transparent;
background-size:cover;
}

/*.equaring:before {
content:'';
position:absolute;
top:140px;
right:-50px;
display:block;
width:400px;
height:300px;
background:url(../images/back/equaring_macbook.png) no-repeat center transparent;
background-size:contain;
}*/

#icons-4 {margin:40px 0;}

.comp-mockup:before {
content:'';
position:absolute;
display:block;
background:url(../images/back/mockup-macbook.png) no-repeat center transparent;
background-size:contain;
}

#half .item:nth-child(2).comp-mockup:before {
top:20px;
left:-100px;
width:660px;
height:400px;
}

#half .item:nth-child(1).comp-mockup:before {
top:40px;
left:0;
width:560px;
height:340px;
}

.iphone-mockup {
content:'';
position:absolute;
display:block;
background:url(../images/back/iphone-preview.png) no-repeat center transparent;
background-size:contain;
z-index:100;
}

#half .item:nth-child(2) .iphone-mockup {
bottom:0;
right:-30px;
width:200px;
height:320px;
}

#half .item:nth-child(1) .iphone-mockup {
bottom:45px;
left:-15px;
width:160px;
height:280px;
}

#half .item:nth-child(2) .iphone-mockup img {
position:absolute;
top:48px;
left:37px;
width:126px;
height:224.5px;
}

#half .item:nth-child(1) .iphone-mockup img {
position:absolute;
top:42px;
left:25.5px;
width:110px;
height:196.5px;
}

.zkh-mockup:after {
content:'';
position:absolute;
top:50px;
left:-8px;
display:block;
width:480px;
height:310px;
background:url(../images/back/back-cometa-zkh.jpg) no-repeat center transparent;
background-size:contain;
}

.modern-mockup:after {
content:'';
position:absolute;
top:66px;
left:40px;
display:block;
width:480px;
height:265px;
background:url(../images/back/back-cometa-modern.jpg) no-repeat center transparent;
background-size:contain;
}

.town {
position:relative;
width:480px;
height:400px;
background:url(../images/town/town_svet-05.svg) no-repeat center transparent;
background-size:contain;
opacity:1;
}

.town:before {
content:'';
position:absolute;
width:480px;
height:400px;
background:url(../images/town/town_svet-04.svg) no-repeat center transparent;
background-size:contain;
opacity:0;
}

.bg-odu {
position:relative;
background:url(../images/back/back-odu2.png) no-repeat center transparent;
background-size:contain;
}

#back-odu {
position:relative;
margin:auto;
width:300px;
height:300px;
background:url(../images/back/back-manipad.jpg) no-repeat center transparent;
background-size:contain;
}

#back-odu:after {
position: absolute;
content: ' ';
width: 100%;
height: 100%;
top: 0;
left: 0;
background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 150, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
background: -moz-radial-gradient(50% 50%, circle, rgba(255,255,255,0) 150px, rgba(255,255,255,1) 150px);
}


#back-odu-new {
position:absolute;
top:-10px;
left:30%;
width:270px;
height:250px;
background:url(../images/back/back-odu-new.png) no-repeat center transparent;
background-size:contain;
}


/*
#back-odu:after {
content:'';
position:absolute;
width:540px;
height:360px;
left:-100px;
bottom:-50px;
background:url(../images/back/back-modern.png) no-repeat center transparent;
background-size:contain;
z-index:100;
}

#back-odu:after {
content:'';
position:absolute;
width:380px;
height:380px;
bottom:-50px;
background:url(../images/back/back-odu3.png) no-repeat center transparent;
background-size:contain;
z-index:100;
}*/

#back-odu:before {
display:none;
content:"";
position:absolute;
opacity:.25;
z-index:1;
border-radius:50%;
top:20px;
right:-60px;
width:240px;
height:240px;
background:#f26622;
transition:all .6s ease;
}

#half:hover #back-odu:before {
top:-30px;
right:-110px;
width:360px;
height:360px;
transition:all .6s ease;
}

#ill {margin-top:20px;}

#ill img {
width:160px;
padding:10px;
margin-left:20px;
border:1.5px solid #f1f1f1;
}

#ill img:first-child {margin-left:0;}

a.certificate:after {display:none;}

img.certificate {
width:400px;
padding:10px;
margin-top:20px;
border:1.5px solid #f1f1f1;
}

ul#tre, ul#faq {
list-style:none;
padding:0;
margin:0;
}

.section ul#tre {margin:80px 0 0;}
.section ul#tre.with-img, .section ul#tre.but-five {margin:60px 0 0;}

.section ul#tre.but-five {text-align:center;}

ul#tre li {
position:relative;
float:left;
width:320px;
margin-left:80px;
}

ul#tre li a:after {display:none;}

.section ul#tre.but-five li:nth-child(4), ul#tre.but-two li:nth-child(1) {margin-left:200px;}
.section ul#tre.but-five li:nth-child(4), .section ul#tre.but-five li:nth-child(5) {margin-top:40px;}

ul#tre li:first-child {margin-left:0;}
ul#tre li p.important {min-height:70px;}
.section ul#tre.with-img li p.important, .section ul#tre.but-five li p.important {min-height:auto;}

ul#tre.but-five.no-center {text-align:left;}
ul#tre.but-five.p-left p {float:left;margin:0;}
ul#tre.but-five.p-left p.important {width:120px;font:300 50px/90px 'Cera Pro', 'Roboto', Tahoma, Calibri;color:#f26622;margin-right:20px;}
ul#tre.but-five.p-left p {width:calc(100% - 140px);}

.section ul#tre.with-img li img {width:100%;padding:10px;margin:0 0 10px;border:1.5px solid #f1f1f1;}
.section ul#tre.but-two li img {width:60%;border-radius:50%;}
ul#tre li a {color:#f26622;}
ul#tre li a:after {background:#f26622;}

ul#faq li, ol#list-item li {
position:relative;
padding-bottom:20px;
margin-bottom:20px;
border-bottom:1.5px solid #e9e9e9;
}

ul#faq li:last-child, ul#faq li ol.count li, ol#list-item li:last-child {
padding-bottom:0;
margin-bottom:0;
border-bottom:0;
}

ul#faq li ol.count li {margin-bottom:10px;}

.faq {padding-top:40px;}

a.faq-que {font:400 18px/35px 'Cera PRO', 'Roboto', Tahoma, Calibri;display:block;}
a.faq-que:after {display:none;}

.bg-puzzle {
background:url(../images/back/bg-puzzle.png) no-repeat center transparent;
background-size:contain;
}

#puzzle {
background:url(../images/back/puzzle-01-02.png) no-repeat center transparent;
background-size:contain;
height:300px;
}

#puzzle p {
position:absolute;
font:700 16px/20px 'Cera Pro', 'Roboto', Tahoma, Calibri;
text-transform:uppercase;
color:#f26622;
white-space:nowrap;
margin:0;
}

#puzzle p:nth-child(1) {top:39px;left:228px;}
#puzzle p:nth-child(2) {top:144px;left:110px;}
#puzzle p:nth-child(3) {top:144px;left:320px;}
#puzzle p:nth-child(4) {bottom:31px;left:329px;}
#puzzle p:nth-child(5) {bottom:31px;left:212px;}

#puzzle #logo {
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
margin:5px 0 0;
width:40px;
height:20px;
background:url(../images/logo/logo_cometa_section.png) no-repeat center transparent;
background-size:contain;
}

/*#puzzle .img {
position:relative;
float:left;
width:100px;
height:100px;
margin:0 0 0 20px;
background:url(../images/svg/puzzle.svg) no-repeat center transparent;
background-size:contain;
}
#puzzle .img:first-child {margin:0;}
#puzzle .img:nth-child(even){margin-top:20px;}

*/

ol#list-item {
list-style:none;
padding:0;
margin:0;
}

ol#list-item li p {padding-left:155px;}
ol#list-item li p.important {margin:0 0 10px;}

ol#list-item li img {position:absolute;height:75px;width:120px;border:1.5px solid #e9e9e9;padding:5px;}

span.date-news {margin-left:40px;font-size:12px;color:#a9a9a9;}

#quattro .item {
float:left;
width:250px;
margin:0 0 0 40px;
}

#quattro .item:first-child, #block-4 .item:first-child, #block-5 .item:first-child, .just-4#block-5 .item:first-child {margin:0;}

#quattro .item .wrap {text-align:center;}
#quattro .item .wrap:first-child {margin-bottom:40px;}
#quattro .item .wrap img {width:45px;margin-bottom:10px;}

#block-4, #block-5 {margin-top:40px;}
#block-4:first-child, #block-5:first-child {margin-top:0;}

#block-4 .item, #block-5 .item, .just-4#block-5 .item {
float:left;
width:250px;
margin:0 0 0 40px;
text-align:center;
}

#block-5 .item {width:192px;}

#block-4 .item:after, #block-5 .item:after, .just-4#block-5 .item:after, .carousel-block:after {display:none;}

#block-4 .item img, #block-5 .item img {
width:100%;
height:auto;
}

.img-border#block-4 .item img, .img-border#block-5 .item img {
padding:20%;
border:1.5px solid #e9e9e9;
}

#block-4 .item .img {
position:relative;
width:50px;
height:50px;
margin:20px auto 40px;
}

#block-4 .item .img img {width:100%;}
#block-4 .item .img:nth-child(2) {width:140px;height:140px;/*border-bottom:1.5px solid #e9e9e9;*/margin:40px auto 20px;}

#block-4 .item p:first-child {font:700 13px/30px 'Cera Pro', 'Roboto', Tahoma, Calibri;text-transform:uppercase;}
#block-5 .item p:first-child {font:300 40px/60px 'Cera Pro', 'Roboto', Tahoma, Calibri;color:#f26622;}

.section#step {padding-top:50px;}
.section#step .item:after, #more #step .item:after {display:none;}

.section#step .item p:nth-child(2) {
font:700 13px/30px 'Cera Pro', 'Roboto', Tahoma, Calibri;
text-transform:uppercase;
/*color:#f26622;*/
}

#more #step {padding:40px 0 0;}
#more #step .item {padding:10px 30px 0;}

.container.bg-imac2 {padding-left:448px !important;}
.bg-imac2:before {
content:'';
position:absolute;
top:-80px;
left:0;
display:block;
width:340px;
height:340px;
background:url(../images/back/imac2.png) no-repeat center transparent;
background-size:contain;
}

#catalog {margin:80px auto 40px;}
.nomarg#catalog {margin:40px auto 0;width:600px;}
#catalog .carousel-block {width:960px;height:auto;}
/*#catalog .carousel-wrapper {height:368px;}*/
#catalog .carousel-items, #reviews .carousel-items {width:100000px;}

#catalog .carousel-button-left, #catalog .carousel-button-right, 
#reviews .carousel-button-left, #reviews .carousel-button-right {
display:block;
width:60px;
height:480px;
cursor:pointer;
